h2 {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 0;
    font-size: 40px;
}
h5 {
    padding-top: 5px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}
p{
    text-align: left;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 25px;
}
span {
   font-style: italic;
}
